body {
  font-family: 'Lato', sans-serif;
  background-color: #f0f2f5;
}

.container {
  margin: 30px auto;
  padding: 20px;
  width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.inc-exp-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
  border-right: 1px solid #dedede;
  padding: 10px;
}

.inc-exp-container > div:last-of-type {
  border-right: none;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
}

.plus {
  color: #2ecc71;
}

.minus {
  color: #c0392b;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-control {
  margin-bottom: 10px;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
}

.form-control input[type="text"],
.form-control input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dedede;
}

.btn {
  cursor: pointer;
  background-color: #3498db;
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  width: 100%;
}

.btn:focus {
  background-color: #2980b9;
}